@model Client

@{
	ViewData["Title"] = "Dodavanje novog klijenta";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis klijenata</a></li>
		<li class="breadcrumb-item active" aria-current="page">Uredivanje klijenta</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input asp-for="ID" type="hidden" />
			<partial name="_CreateOrEdit" />
		</form>
	</div>
</div>

@section scripts {
    <script id="search-js"
            defer
            src="https://api.mapbox.com/search-js/v1.0.0-beta.21/web.js">
    </script>

    <script>
        const script = document.getElementById('search-js');
        script.onload = function () {
            mapboxsearch.autofill({
                accessToken: 'pk.eyJ1IjoiZ3JlZ3kxMjMiLCJhIjoiY2x2ejlvMjZhMmp6ZjJpcXptM3BqdmE3OSJ9.-84MWBkboePBJbPXwG3ZAQ'
            });

            function updateHiddenAddress() {
                const visibleAddress = document.getElementById('addressInput').value;
                document.getElementById('hiddenAddress').value = visibleAddress;
            }
            document.getElementById('addressInput').addEventListener('input', updateHiddenAddress);
        };
        $(function () {
            $('#datepicker').datepicker();
        });
    </script>
}