@model List<Client>

@{
	ViewData["Title"] = "Home Page";
}

<h1>Popis klijenata</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_ClientFilter" model="new ClientFilterModel()" />
</div>

<div id="clientTableContainer">
	<partial name="_IndexTable" model="Model" />
</div>


@section Scripts{
	<script>
		$(document).ready(function () {
			$('#gumbPretraga').click(function () {
				var formData = $('#filterForm').serialize();

				$.ajax({
					url: '@Url.Action("IndexAjax", "Client")',
					type: 'POST',
					data: formData,
					success: function (html) {
						$('#tbl-clients').replaceWith(html);
					},
					error: function () {
						alert('Dogodio se error');
					}
				});
			});
		});
	</script>
}